.InsertionForm {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.InsertionForm > .innerContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 50%;
  width: 100%;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.5);
  padding: 10vh;
}

.InsertionForm > .innerContainer input[type='text'] {
  margin-right: 5px;
}

.InsertionForm > .innerContainer > div {
  display: flex;
}

.InsertionForm > .innerContainer .close {
  position: absolute;
  top: 0;
  right: 0;
}
